@model EmailTemplate.Models.Template
@{
    ViewData["Title"] = "Mail Add";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<div class="row">
    <div class="col-md-12">
        <div class="d-flex mt-3 col-4">
            <div class="form-group mb-3 flex-lg-row">
                <select class="form-select" style="width:330px" id="select">
                    <option value="" selected disabled>--Select Template--</option>
                    @foreach (var item in ViewBag.Template)
                    {
                        <option value="@item.MailTypeId">
                            @item.MailType
                        </option>
                    }
                </select>
            </div>
            <div class="form-group mb-1 flex-lg-row" style="margin-left:205%">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Save
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel"><i class="bi bi-exclamation-lg">INFORMATION</i></h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Click the 'Save Changes' button to save the changes.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSave">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <textarea type="text" id="mytextarea" class="" style="height:500px"></textarea>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#select").change(function (e) {
            var selectedItem = $("#select").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("Get", "Template")",
                data: { data: selectedItem },
                dataType: "json",
                success: function (rslt) {
                    tinymce.get("mytextarea").setContent(rslt);
                },
                error: function (rslt) {
                    alert('Error');
                }
            });
        });
        $("#btnSave").click(function (e) {
            var templateId = $('#select option:selected').val();
            var templateType = $('#select option:selected').text();
            var templateBody = tinymce.get("mytextarea").getContent();
            $.ajax({
                type: "POST",
                url: "@Url.Action("Save", "Template")",
                data: { MailTypeId: templateId, MailType: templateType, MailBody: templateBody },
                success: function (rslt) {
                    tinymce.get("mytextarea").getContent(rslt);
                },
                error: function (rslt) {
                    alert('Error');
                }
            });
        });
    });
</script>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#mytextarea',
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
            'alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
    });
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>